{% extends "base.html" %}

{% block title%}
Greeting Page
{% endblock %}

{% block content %}

<!-- <h1>Hello, {{ name }}!</h1>

{% if is_authenticated %}
<p>Welcome back good sir!!</p>
{% else %}
<p>Please login access the info</p>
{% endif %}

{% if is_new_year %}
<h1>Happy New Year!! Today is Jan 1st. </h1>
{% else %}
<h1>Today is not new year.</h1>
{% endif %} -->

<ul>
    {% for fruits in list_of_fruits %}
    <ol>{{ fruits }}</ol>
    {% empty %}
    <li>No tasks.</li>
    {% endfor %}
</ul>

<a href="{% url 'users:add' %}">Add a new fruit</a>

{% endblock %}
